<html>
  <head>
  {# default inclusion #}
    <script type="text/javascript" src="/static/vendor/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/vendor/sijax/sijax.js"></script>
    <script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>
  {# additional inclusion #}
  {% block head %}
  {% endblock %}
  </head>
  <body bgcolor="#d0d0d0">
    <div style="text-align: center">
      <ul style="list-style: none">
        <li>Authors: Joey Toppin, Karl Chow</li>
        <li>Code hosted at <a href="https://bitbucket.org/ozette/svu/overview">bitbucket</a></li>
        <li>GPLv3 Licensed software.</li>
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    <!-- std section styling -->
    <style>
      section {
        border: 1px solid black;
        border-radius: 3px;
        margin-bottom: 1em; 
      }
    </style>
    version: 0.1.4
  </body>
</html>                    
