{% extends "base.html" %}

{% block head %}
  <script>
    /** queries search term, called by the search form on this page */
    function secure_search() {

      /* input is a dict */
      input = Sijax.getFormValues("#search");

      // encode input primarily:
      console.log(input);

      /* request backend to execute "query" with "input" as arg. */
      Sijax.request("s_query", [input]);

      /* return false - prevent page reload on submit */
      return false;
    }

    /** appends showcase-field with search term */
    function set(query) {
      /* also see __init__.py's s_setquery function, query's special characters
       * are encoded */ 
      $("#showcase-field").append("<b>Your query:</b> ", query, "\n");

      console.log(query);
      $("#showcase-field").append("<b>See your browser dev. console to see the"+
                                  " return value of the backend</b>");
      /* optional browser side alernative */
      //$("#showcase-field").append("<b>Your query:</b> ",
      //                            escape(query), "\n");
      //$("#showcase-field").append("<b>Your query:</b> ",
      //                            unescape(query), "\n");
      return 0;
    }

    /** attempts to submit a user to the backend database
     *  called by the "subscribe user form" on this page */
    function secure_subscribe() {
      input = Sijax.getFormValues("#subscribe");
      Sijax.request("s_subscribe", [input]);
      return false;
    }

    /** appends showcase-field with either a succes or fail message
     * resolve is a return value from the backend. 0 is succes, 1 is failure */
    function setmsg(resolve, username, description) {

      if(!resolve) {
        /* showcase output of username and description as returned by the
         * backend */
        $("#showcase-field")
          .append('<p style="color:green">Succesfully subscribed user.</p>');
        $("#showcase-field")
          .append("Assume you're viewing a profile page of the user "+ 
                  "you just created, this is what you'd see.."+
                  "<b>Username</b>: "+ username +
                  "<b> Description</b>: "+ description);
      } else {
        $("#showcase-field")
          .append('<p style="color:green">Could not subscribe user, '+
                  'maybe the user already exists?</p>');
      } 
      return 0;
    }
  </script>
{% endblock %}

{% block content %}

  <h1>SVU - secure showcases</h1>

  Click <a href="insecure.html">here</a> for the insecure showcase.
  <div style="color: red">{{ errmsg }}</div>
  <section>
    <p>Allowed extensions are<p>
    <ul>
    {% for extension in range(allowed|length) %}
      <li>{{ allowed[extension]}}</li>
    {% endfor %}
    </ul>

    <p>Upload a file</p>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="hidden" name="action" value="file">
        <input type="submit" value="Upload">
    </form>
  </section>

  <section>
    It does not matter what you type, as long as it's submitted, a hard
    variable from the backend is used to showcase this part of the application.
    <form method="post">
        <input type="hidden" name="action" value="text">
        <input type="text" name="text">
        <input type="submit" value="Submit">
    </form>
    {# please use either of the two options below #}
    {# below showcases if autoescaping is enabled: #}
    {{ hax }}
    {# below showcases if autoescaping is disabled: #}
    {# {{ hax|safe }} #}
  </section>

  <!-- Stored showcase -->
  <section>
    <p>Subscribe a user to the database, see the output box below for results.</p>
    <form id="subscribe" method="post">
      <ul style="list-style: none;">
        <li>
          username <input type="text" name="username"/>
        </li>
        </li>
          description <textarea name="description"></textarea>
          <i>e.g.: &lt;script&gt;alert("Stored Cross-site scripting!")&lt;/script&gt;</i>
        </li>
        <li>
          <input type="button" onclick="secure_subscribe()" value="Save"/>
        </li>
      </ul>
    </form>
  </section>

  <!-- Reflected showcase -->
  <section>
    <p>Secure search form</p>
    <form id="search">
      <input type="text" name="search" placeholder="Search.."/> 
      <input type="button" onclick="secure_search()" value="Search"/>
    </form>
  </section>

  <section id="showcase-field">
    <p>OUTPUT BOX - Your actions will be appended to this area</p>
    <!-- this section is appended according to your search query -->
    <!-- in the insecure showcase, html embedded script input is executed -->
  </section>
{% endblock %}
