{% extends "base.html" %}

{% block head%}
  <script>
    /** queries search term, called by the search form on this page */
    function insecure_search() {

      /* input is a dict */
      input = Sijax.getFormValues("#search");

      /* request backend to execute "query" with "input" as arg. */
      Sijax.request("query", [input]);

      /* return false - prevent page reload on submit */
      return false;
    }

    /** appends showcase-field with search term */
    function set(query) {
      $("#showcase-field").append("<b>Your query:</b> ", query, "\n");
      return 0;
    }

    /** attempts to submit a user to the backend database
     *  called by the "subscribe user form" on this page */
    function insecure_subscribe() {
      input = Sijax.getFormValues("#subscribe");
      Sijax.request("subscribe", [input]);
      return false;
    }

    /** appends showcase-field with either a succes or fail message
     * resolve is a return value from the backend. 0 is succes, 1 is failure */
    function setmsg(resolve, username, description) {

      if(!resolve) {
        /* showcase output of username and description as returned by the
         * backend */
        $("#showcase-field")
          .append('<p style="color:green">Succesfully subscribed user.</p>');
        $("#showcase-field")
          .append("Assume you're viewing a profile page of the user "+ 
                  "you just created, this is what you'd see.."+
                  "<b>Username</b>: "+ username +
                  "<b> Description</b>: "+ description);
      } else {
        $("#showcase-field")
          .append('<p style="color:green">Could not subscribe user, '+
                  'maybe the user already exists?</p>');
      } 
      return 0;
    }
  </script>
{% endblock %}

{% block content %}
  <h1>SVU - insecure showcases</h1>
  Click <a href="/">here</a> for the secure showcase.
  <!-- Stored showcase -->
  <section>
    <p>Subscribe a user to the database, see the output box below for results.</p>
    <form id="subscribe" method="post">
      <ul style="list-style: none;">
        <li>
          username <input type="text" name="username"/>
        </li>
        </li>
          description <textarea name="description"></textarea>
          <i>e.g.: &lt;script&gt;alert("Stored Cross-site scripting!")&lt;/script&gt;</i>
        </li>
        <li>
          <input type="button" onclick="insecure_subscribe()" value="Save"/>
        </li>
      </ul>
    </form>
  </section>

  <!-- Reflected -->
  <section>
    <p>Insecure search form, utilizes flask-sijax i.e. an ajax implementation on top of jQuery ajax.</p>
    <form id="search" method="post">
      <input type="text" name="search" placeholder="Input here.."/> 
      <input type="button" onclick="insecure_search()" value="Search"/>
    </form>
  </section>

  <section id="showcase-field">
    <p>OUTPUT BOX - Your actions will be appended to this area</p>
    <!-- this section is appended according to your search query -->
    <!-- in the insecure showcase, html embedded script input is executed -->
  </section>
{% endblock %}
